<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>员工信息管理系统</title>
    <link rel="stylesheet" href="https://unpkg.com/muse-ui/dist/muse-ui.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main class="wrapper">
      <section>
        <div id="form">
          <mu-form :model="params" label-position="top" ref="form">
            <mu-paper class="form-paper">
              <h1 class="tac">员工信息管理系统</h1>
              <mu-stepper :active-step="step" orientation="vertical">
                <mu-step>
                  <mu-step-label>
                    基本信息
                  </mu-step-label>
                  <mu-step-content>
                    <mu-form-item label="姓名(中文)" prop="name" label-float :rules="getRule('请输入姓名', Boolean)">
                      <mu-text-field v-model="params.name"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="姓名(英文/花名)" prop="alias" label-float>
                      <mu-text-field v-model="params.alias"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="证件类型" prop="certificate_type" label-float :rules="getRule('请选择证件类型', Boolean)">
                      <mu-select v-model="params.certificate_type">
                        <mu-option v-for="{ label, value } in certList" :key="value" :label="label" :value="value"></mu-option>
                      </mu-select>
                    </mu-form-item>
                    <mu-form-item label="证件号码" prop="certificate_code" label-float :rules="rules.certificate_code">
                      <mu-text-field v-model="params.certificate_code"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="性别" prop="gender" label-float :rules="getRule('请选择性别', Boolean)">
                      <mu-select v-model="params.gender">
                        <mu-option label="未知" value="0"></mu-option>
                        <mu-option label="男" value="1"></mu-option>
                        <mu-option label="女" value="2"></mu-option>
                      </mu-select>
                    </mu-form-item>
                    <mu-form-item label="民族" prop="nation" label-float :rules="getRule('请填写民族', Boolean)">
                      <mu-text-field v-model="params.nation"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="身份证出生日期" prop="ibirth" label-float :rules="getRule('请填写出生年月日', Boolean)">
                      <mu-date-input v-model="params.ibirth" container="bottomSheet" full-width no-display value-format="YYYY-MM-DD"></mu-date-input>
                    </mu-form-item>
                    <mu-form-item label="实际出生日期" prop="birth" label-float>
                      <mu-date-input v-model="params.birth" container="bottomSheet" full-width no-display value-format="YYYY-MM-DD"></mu-date-input>
                    </mu-form-item>
                    <mu-form-item label="年龄" prop="age" label-float :rules="getRule('请填写年龄', Boolean)">
                      <mu-text-field v-model="params.age" type="number"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="身份证住址" prop="address" label-float :rules="getRule('请填写身份证住址', Boolean)">
                      <mu-text-field v-model="params.address"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="身份证有效期限起始时间" prop="expire_start_date" label-float :rules="getRule('身份证有效期限起始时间', Boolean)">
                      <mu-date-input v-model="params.expire_start_date" container="bottomSheet" full-width no-display value-format="YYYY-MM-DD"></mu-date-input>
                    </mu-form-item>
                    <mu-form-item label="身份证有效期限终止时间" prop="expire_end_date" label-float :rules="getRule('身份证有效期限终止时间', Boolean)">
                      <mu-date-input v-model="params.expire_end_date" container="bottomSheet" full-width no-display value-format="YYYY-MM-DD"></mu-date-input>
                    </mu-form-item>
                    <mu-form-item label="签发机关" prop="authority" label-float :rules="getRule('请输入签发机关', Boolean)">
                      <mu-text-field v-model="params.authority"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="本人联系方式" prop="contact" label-float :rules="getRule('请输入本人联系方式', Boolean)">
                      <mu-text-field v-model="params.contact"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="户口性质" prop="household_type" label-float :rules="getRule('请选择户口性质', Boolean)">
                      <mu-select v-model="params.household_type">
                        <mu-option v-for="{ label, value } in householdType" :key="value" :label="label" :value="value"></mu-option>
                      </mu-select>
                    </mu-form-item>
                    <mu-form-item label="政治面貌" prop="policital_status" label-float :rules="getRule('请选择政治面貌', Boolean)">
                      <mu-select v-model="params.policital_status">
                        <mu-option v-for="{ label, value } in policitalStatus" :key="value" :label="label" :value="value"></mu-option>
                      </mu-select>
                    </mu-form-item>
                    <mu-form-item label="婚姻状况" prop="marital_status" label-float :rules="getRule('请选择婚姻状况', Boolean)">
                      <mu-select v-model="params.marital_status">
                        <mu-option v-for="{ label, value } in maritalStatus" :key="value" :label="label" :value="value"></mu-option>
                      </mu-select>
                    </mu-form-item>
                    <mu-form-item prop="education">
                      <mu-flex slot="label" justify-content="between">
                        <label>子女情况</label>
                        <mu-button flat small color="primary" @click="openDialog">
                          <mu-icon left value="playlist_add">
                          </mu-icon>添加
                        </mu-button>
                      </mu-flex>
                      <mu-list textline="two-line">
                        <mu-list-item v-for="({ name, birth, gender }, index) in params.children" :key="index">
                          <mu-list-item-content>
                            <mu-list-item-title>{{ name }}</mu-list-item-title>
                            <mu-list-item-sub-title style="color: rgba(0, 0, 0, .87)">{{ birth }}</mu-list-item-sub-title>
                            <mu-list-item-sub-title>{{ displayGender(gender) }}</mu-list-item-sub-title>
                          </mu-list-item-content>
                          <mu-list-item-action >
                            <mu-flex justify-content="center" align-items="center">
                              <mu-button small icon @click="editChild(index)">
                                <mu-icon value="edit">
                                </mu-icon>
                              </mu-button>
                              <mu-button small icon @click="removeChild(index)">
                                <mu-icon value="remove_circle_outline">
                                </mu-icon>
                              </mu-button>
                            </mu-flex>
                          </mu-list-item-action>
                        </mu-list-item>
                     </mu-list>
                    </mu-form-item>
                    <mu-form-item label="户口信息" label-float prop="place" :rules="getRule('请填写户口信息', Boolean)">
                      <mu-text-field v-model="params.place"></mu-text-field>
                    </mu-form-item>
                    <mu-button @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>
                    紧急联系人信息
                  </mu-step-label>
                  <mu-step-content>
                    <mu-form-item label="紧急联系人" label-float prop="emergency_name" :rules="getRule('请填写紧急联系人', Boolean)">
                      <mu-text-field v-model="params.emergency_name"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="与紧急联系人关系" label-float prop="emergency_relation" :rules="getRule('请填写与紧急联系人关系', Boolean)">
                      <mu-text-field v-model="params.emergency_relation"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="紧急联系人电话" label-float prop="emergency_phone" :rules="getRule('请填写紧急联系人电话', Boolean)">
                      <mu-text-field v-model="params.emergency_phone"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="现住址" label-float prop="present_addr" :rules="getRule('请填写现住址', Boolean)">
                      <mu-text-field v-model="params.present_addr"></mu-text-field>
                    </mu-form-item>
                    <mu-form-item label="备注" label-float prop="remark" label-float>
                      <mu-text-field v-model="params.remark"></mu-text-field>
                    </mu-form-item>
                    <mu-button flat @click="goto('prev')">上一步</mu-button>
                    <mu-button @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>学习经历</mu-step-label>
                  <mu-step-content>
                    <mu-button flat @click="goto('prev')">上一步</mu-button>
                    <mu-button class="demo-step-button" @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>工作经历</mu-step-label>
                  <mu-step-content>
                    <mu-button flat @click="goto('prev')">上一步</mu-button>
                    <mu-button class="demo-step-button" @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>其他</mu-step-label>
                  <mu-step-content>
                    <mu-button flat @click="goto('prev')">上一步</mu-button>
                    <mu-button class="demo-step-button" @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>本人声明</mu-step-label>
                  <mu-step-content>
                    <mu-button flat @click="goto('prev')">上一步</mu-button>
                    <mu-button class="demo-step-button" @click="goto('next')" color="primary">下一步</mu-button>
                  </mu-step-content>
                </mu-step>
                <mu-step>
                  <mu-step-label>
                    填写完毕
                  </mu-step-label>
                  <mu-step-content>
                    <p>填写完毕，请点击提交</p>
                    <mu-button flat class="demo-step-button" @click="goto('prev')">上一步</mu-button>
                    <mu-button class="demo-step-button" @click="goto('finish')" color="primary">完成</mu-button>
                  </mu-step-content>
                </mu-step>
              </mu-stepper>
            </mu-paper>
          </mu-form>
          <mu-dialog title="添加子女" width="600" max-width="80%" :esc-press-close="false" :overlay-close="false" :open.sync="openAlert">
            <mu-form :model="child" ref="childForm">
              <mu-form-item label="姓名" prop="name" :rules="getRule('请输入姓名', Boolean)">
                <mu-text-field v-model="child.name"></mu-text-field>
              </mu-form-item>
              <mu-form-item label="性别" prop="gender" :rules="getRule('请选择性别', Boolean)">
                <mu-select v-model="child.gender">
                  <mu-option label="未知" value="0"></mu-option>
                  <mu-option label="男" value="1"></mu-option>
                  <mu-option label="女" value="2"></mu-option>
                </mu-select>
              </mu-form-item>
              <mu-form-item label="出生年月" prop="birth" :rules="getRule('请选择出生年月', Boolean)">
                <mu-date-input v-model="child.birth" container="bottomSheet" full-width no-display value-format="YYYY-MM-DD"></mu-date-input>
              </mu-form-item>
            </mu-form>
            <mu-button slot="actions" flat color="primary" @click="openAlert = false">取消</mu-button>
            <mu-button slot="actions" flat color="primary" @click="appendChild">确定</mu-button>
          </mu-dialog>
          <mu-snackbar position="top" :open.sync="snackbar.open">
            {{snackbar.message}}
            <mu-button flat slot="action" color="secondary" @click="snackbar.open = false">关闭</mu-button>
          </mu-snackbar>
        </div>
      </section>
    </main>
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/muse-ui/dist/muse-ui.js"></script>
    <script>
      Vue.config.devtools = true
      const certificate_reg = /^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)$/
      const initialParms = () => ({
        certificate_type: '1', // 证件类型
        certificate_code: '', // 证件号码
        name: '', // 身份证姓名
        gender: '', // 性别
        ibirth: '', // 身份证出生日期
        birth: '', // 真实出生日期
        age: '', // 年龄
        address: '', // 身份证住址
        expire_start_date: '', // 身份证有效起始时间
        expire_end_date: '', // 身份证有效结束时间
        authority: '', // 签发机关
        contact: '', // 本人联系方式
        household_type: '', // 户口性质
        policital_status: '', // 政治面貌
        marital_status: '', // 婚姻状况
        children: [], // 子女信息
        place: '', // 户口信息
        emergency_name: '', // 紧急联系人姓名
        emergency_relation: '', // 紧急联系人关系
        emergency_phone: '', // 紧急联系人电话
        present_addr: '', // 现住址
        education: '', // 教育程度
        remark: ''
      })
      const initialChild = () => ({
        name: '',
        birth: '',
        gender: ''
      })
      const form = new Vue({
        data() {
          return {
            step: 0,
            params: initialParms(),
            child: initialChild(),
            certList: [
              {
                label: '居民身份证',
                value: '1'
              },
              {
                label: '护照',
                value: '2'
              }
            ],
            householdType: [
              {
                label: '本市城镇',
                value: 1
              },
              {
                label: '本市农村',
                value: 2
              },
              {
                label: '外埠城镇',
                value: 3
              },
              {
                label: '外埠农村',
                value: 4
              },
            ],
            policitalStatus: [
              {
                label: '中共党员',
                value: 1
              },
              {
                label: '共青团员',
                value: 2
              },
              {
                label: '群众',
                value: 3
              },
              {
                label: '其他',
                value: 4
              },
            ],
            maritalStatus: [
              {
                label: '未婚',
                value: 1
              },
              {
                label: '已婚',
                value: 2
              }
            ],
            eduList: [
              {
                label: '本科',
                value: '1'
              }
            ],
            rules: {
              certificate_code: [
                {
                  validate: Boolean,
                  message: '请输入证件号码'
                },
                {
                  validate: value => {
                    if (this.params.certificate_type === '1') return certificate_reg.test(value)
                    return true
                  },
                  message: '请输入正确的证件号码'
                }
              ]
            },
            openAlert: false,
            snackbar: {
              open: false,
              message: ''
            }
          }
        },
        methods: {
          getRule(message, validate) {
            return [
              {
                validate,
                message
              }
            ]
          },
          goto (type) {
            switch (type) {
              case 'next':
                this.$refs.form.validate().then(valid => {
                  if (valid) {
                    this.step++
                  }
                })
                break;
              case 'prev':
                this.step--
                break;
            
              case 'finish':
                this.$refs.form.validate().then(valid => {
                  if (valid) {
                    this.snackbar.message = '提交成功'
                    this.snackbar.open = true
                    console.log(this.params)
                  }
                })
                break;
            
              default:
                break;
            }
          },
          openDialog () {
            this.child = initialChild()
            this.openAlert = true
          },
          appendChild () {
            this.$refs.childForm.validate().then(valid => {
              if (valid) {
                if (!this.params.children.includes(this.child)) {
                  this.params.children.push({ ...this.child })
                }
                this.$refs.childForm.clear()
                this.child = initialChild()
                this.openAlert = false
              }
            })
          },
          removeChild (index) {
            this.params.children.splice(index, 1)
          },
          editChild (index) {
            this.child = this.params.children[index]
            this.openAlert = true
          },
          displayGender (id) {
            return ['未知', '男', '女'][id]
          }
        }
      }).$mount('#form')
    </script>
  </body>
</html>
